
{% extends 'layout/base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
<!-- Hero section -->
<section class="hero-section">
	<div class="hero-slider owl-carousel">
		<div class="hs-item set-bg" data-setbg="{% static 'assets/img/bg.jpg'%}">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 text-white">
						<span>Produk Hot</span>
						<h2>denim jackets</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo
							viverra maecenas accumsan lacus vel facilisis. </p>
						<a href="#" class="site-btn sb-white">Belanja Hayuk</a>
					</div>
				</div>
				<div class="offer-card text-white">
					<span>from</span>
					<h2>$29</h2>
					<p>SHOP NOW</p>
				</div>
			</div>
		</div>
		<div class="hs-item set-bg" data-setbg="{% static 'assets/img/bg-2.jpg'%}">
			<div class="container">
				<div class="row">
					<div class="col-xl-6 col-lg-7 text-white">
						<span>Produk Hot</span>
						<h2>denim jackets</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo
							viverra maecenas accumsan lacus vel facilisis. </p>
						<a href="#" class="site-btn sb-white">Belanja Hayuk</a>
					</div>
				</div>
				<div class="offer-card text-white">
					<span>from</span>
					<h2>$29</h2>
					<p>SHOP NOW</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="slide-num-holder" id="snh-1"></div>
	</div>
</section>
<!-- Hero section end -->



<!-- Features section -->
<section class="features-section">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 p-0 feature">
				<div class="feature-inner">
					<div class="feature-icon">
						<img src="{% static 'assets/img/icons/1.png'%}" alt="#">
					</div>
					<h2>Fast Secure Payments</h2>
				</div>
			</div>
			<div class="col-md-4 p-0 feature">
				<div class="feature-inner">
					<div class="feature-icon">
						<img src="{% static 'assets/img/icons/2.png'%}" alt="#">
					</div>
					<h2>Premium Products</h2>
				</div>
			</div>
			<div class="col-md-4 p-0 feature">
				<div class="feature-inner">
					<div class="feature-icon">
						<img src="{% static 'assets/img/icons/3.png'%}" alt="#">
					</div>
					<h2>Free & fast Delivery</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Features section end -->


<!-- letest product section -->
<section class="top-letest-product-section">
	<div class="container">
		<div class="section-title">
			<h2>Produk Terbaru</h2>
		</div>
		<div class="product-slider owl-carousel">
			{% for row in produk %}
			<div class="product-item">
				<div class="pi-pic">
					<img src="{{row.gambar.url}}" alt="">
					<div class="pi-links">
						<a href="{% url 'produk:show' row.slug %}" class="add-card"><i class="flaticon-bag"></i><span>Detail Item</span></a>
					</div>
				</div>
				<div class="pi-text">
					<h6>Rp. {{row.harga|intcomma}}</h6>
					<p>{{row.nama_produk}}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>


<!-- Product filter section -->
<section class="product-filter-section">
	<div class="container">
		<div class="section-title">
			<h2>ARTIKEL TERBARU</h2>
		</div>

		<div class="row">
			<div class="col-lg-12 order-1 order-lg-1">
                <div class="checkout-cart">
					
                    <ul class="product-list">
                        {% for row in artikel %}
                        <li>
                            <div class="pl-thumb"><img src="{{row.gambar.url}}" alt=""></div>
                            <h6>{{row.judul}}</h6>
                            <strong><a href="{% url 'blog:categori' row.kategori.id %}">{{row.kategori}}</a></strong>
                            <p>{{row.isi|slice:"0:200"}} <a href="{% url 'blog:show' row.slug %}">Lanjut Baca</a></p>
                            <p>{{row.tanggal}}</p>
                        </li>
                        {% endfor %}
					</ul>
					
                    
                </div>
            </div>
		</div>
	</div>
</section>
<section class="product-filter-section">
	<div class="container">
		<div class="section-title">
			<h2>Testimoni</h2>
		</div>

		<div class="row">
			<div class="col-lg-12 order-1 order-lg-1">
                <div class="checkout-cart">
					
                    <ul class="product-list">
                        {% for row in testimoni %}
                        <li>
                            <h6>{{row.nama}} ({{row.email}})</h6>
                            <p>{{row.deskripsi}}</p>
                            <p>{{row.tanggal_kirim}}</p>
                        </li>
                        {% endfor %}
					</ul>
					
                    
                </div>
            </div>
		</div>
	</div>
</section>


{% endblock content %}