{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Sinar Mas</title>
	<meta charset="UTF-8">
	<meta name="description" content=" Divisima | eCommerce Template">
	<meta name="keywords" content="divisima, eCommerce, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon" />

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet">


	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/slicknav.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" />
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />


	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a href="./index.html" class="site-logo">
							<img src="{% static 'assets/img/logoku.png' %}" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
		{% include 'layout/nav.html' %}
	</header>
	<!-- Header section end -->

	{% block content %}

	{% endblock content %}




	<!-- Footer section -->
	<section class="footer-section">
		<div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="google-plus"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
					<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>
				<p class="text-white text-center mt-5">Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
					made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
						target="_blank">Colorlib</a></p>
			</div>
		</div>
	</section>
	
	<!--====== Javascripts & Jquery ======-->
	<script src="{% static 'assets/js/jquery-3.2.1.min.js'%}"></script>
	<script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
	<script src="{% static 'assets/js/jquery.slicknav.min.js'%}"></script>
	<script src="{% static 'assets/js/owl.carousel.min.js'%}"></script>
	<script src="{% static 'assets/js/jquery.nicescroll.min.js'%}"></script>
	<script src="{% static 'assets/js/jquery.zoom.min.js'%}"></script>
	<script src="{% static 'assets/js/jquery-ui.min.js'%}"></script>
	<script src="{% static 'assets/js/main.js'%}"></script>

</body>

</html>